body {
  margin: 0;
  padding: 0;
}

main {
  width: 600px;
  heigth: 100vh;
  position: absolute;
}

.logo {
  width: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
}

.menu {
  top: 50px;
  right: 0px;
  position: absolute;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 90px;
  top: 180px;
}

.pages > p {
  font-family: "HelveticaNeue-Light", sans-serif;
  font-weight: 400;
}
.line {
  display: inline-block;
  border-top: 2px solid #000;
  margin: 0 0.7em 4px 0.7em;
  padding: 0;
  width: 100px;
}

h1 {
  font-family: Futura;
  left: 90px;
  top: 200px;
  font-size: 65px;
  font-weight: 400;
  position: relative;
}

.hero >img {
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.paragraph {
  color: gray;
  position: relative;
  font-family: MontserratLight, sans-serif;
  font-size: 20px;
  line-height: 2em;
  top: 250px;
  left: 90px;
}

.readMore {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 325px;
  left: 90px;
}

.readMore > p {
  color: black;
  font-size: 14px;
  font-family: Futura;
  font-weight: 300;
}

.readMore > img {
  margin: 0 20px;
}




/*  */
